<html>
    <head>
     <link rel="stylesheet" href="/static/style.css">
<title> WordList-ZakElmi</title>
    </head>
    <body>
        {% block navbar %}
        <nav>
            <h1>Word List Application</h1>
        </nav>
        {% endblock %}

        {% block content %}
        default content
        {% endblock %}

        {% block footer %}
        <div class = "footer">
        The source code for the Wordlist papplication can be found <a href = "https://github.com/zak-elmi/WordFinder-App">here</a>
         </div>

        {% endblock %}
    </body>
</html>